:root {
    --card_scale: 2.5;
    --card_height: calc(378px / var(--card_scale));
    --card_width: calc(244px / var(--card_scale));
}

body {
    background-image: url("assets/white_wood.jpg");
    background-size: cover;
}

.card-inner {
    position: relative;
    top: calc(-126px / var(--card_scale));
    left: calc(-19px / var(--card_scale));
    filter: blur(0.3px);
    opacity: .9;
}


.front, .back {

    position: absolute;
    top:0;   /*was 5*/
    left:0;

    width: var(--card_width);
    height: var(--card_height);

    backface-visibility: hidden;

    font-size: calc(432px / var(--card_scale));
    text-align: center;

    overflow: hidden;

    background-image: url("assets/front.jpg");
    background-size: 100% 100%;
    border-radius: 10px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .25);
}

.card-container {
    width: calc(0px + var(--card_width));
    height: calc(0px + var(--card_height));
    position: absolute;
    transform: translateX(-150%);
    padding: 0px;
    margin: 0px;
    border-radius: 10px;

    pointer-events: none;
    cursor: progress;
}

.player-name {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: lighter;
    font-variant-caps: small-caps;
    position: absolute;
    font-size: 20px;
    color: white; 
    filter: blur(0.8px);
    opacity: .7;
}

.player-name.highlight {
    color: pink;
    box-shadow: none;
}

.front {
    transform: rotateY(-180deg);
}


.back {
    color: blue;
    background-image: url("assets/back.png");
    background-size: 100% 100%;
}

.red {
    color: red;
}


.mine.highlight, .card-container.verb {
    pointer-events: all;
    cursor: pointer;
    box-shadow: inset 0 0 15px 5px yellow,
    0 0 15px 5px yellow;
}

.highlight {
    box-shadow: inset 0 0 15px 5px pink,
    0 0 15px 5px pink;
}



.verb .front .card-inner {
    position: relative;
    text-align: center;
    top: 50px;
    left: 0px;
    font-style: italic;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20%;
    font-weight: normal;

    text-transform: lowercase;
}

.hidden {
    visibility: hidden;
}

.notice {
    color:white;
    position: absolute;
    top: 500px;
    left:250px;
    height : 100px;
    width: 600px;

    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: lighter;
    font-variant-caps: small-caps;
    position: absolute;
    font-size: 20px;
    color: white; 
    filter: blur(0.8px);
    opacity: .7;
    z-index: -200;
    list-style: none;
    padding: 0px;
    margin: 0px;
    column-count: 3;
    column-fill: auto;
}

.notice li:last-of-type {
    color: pink;
}