:root {
    --card_scale: 2.5;
    --card_height: calc(378px / var(--card_scale));
    --card_width: calc(245px / var(--card_scale));
}

body {
    background-image: url("white_wood.jpg");
    background-size: cover;
}

.card-container, .front, .back {
    width: var(--card_width);
    height: var(--card_height);
}

.card-inner {
    position: relative;
    top: calc(-126px / var(--card_scale));
    left: calc(-19px / var(--card_scale));
    filter: blur(0.3px);
    opacity: .9;
}


.front, .back {

    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);

    position: absolute;

    backface-visibility: hidden;

    font-size: calc(2700% / var(--card_scale));
    text-align: center;
    background-color: white;

    overflow: hidden;
}

.card-container {
    position: absolute;
    transform: translateX(-150%);
}

.front {
    transform: rotateY(-180deg);
    background-image: url("front.jpg");
    background-size: 100% 100%;
}


.back {
    color: blue;
    background-image: url("back.png");
    background-size: 100% 100%;
}

.red {
    color: red;;
}

