:root {
    --card_scale: 3;
    --card_height: calc(350px / var(--card_scale));
    --card_width: calc(250px / var(--card_scale));
}

.card-container, .front, .back {
    width: var(--card_width);
    height: var(--card_height);
}


.front, .back {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);

    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
}


.back {
    background-image: linear-gradient(to right bottom, #f1c40f, #e67e22);
}

.card-container {
    position: absolute;
    transform: translateX(-150%);
}

.front {
    transform: rotateY(-180deg);
    background-image: linear-gradient(to right bottom, #2ecc71, #229955);
}

